.Weather-Forecast {
  text-align: center;
}

.Weather-Forecast .WeatherForecast-day {
  color: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
}

.Weather-Forecast .WeatherForecast-max {
  color: #627a97;
}

.Weather-Forecast .WeatherForecast-min {
  color: #ffffff;
  margin-left: 5px;
}
